<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<connectionStrings>
		<add name="default" connectionString="Data Source=servername;Initial Catalog=employee;Persist Security Info=True;User ID=userid;Password=password;" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime targetFramework="4.0" />
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="false" />
		<handlers>
			<remove name="aspNetCore" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath=".\bin\Release\netcoreapp3.1\MVC_GPS.Speed_Interpreter_Webserver.exe" arguments=".\bin\Release\netcoreapp3.1\MVC_GPS.Speed_Interpreter_Webserver.dll" stdoutLogEnabled="true" stdoutLogFile=".\bin\logs" hostingModel="InProcess" />
	</system.webServer>
</configuration>